/* Notion */
.dark-mode {
  --bg-color: hsl(220, 8%, 8%);
  --bg-color-0: hsl(220, 8%, 15%);
  --bg-color-1: hsl(220, 8%, 20%);
  --bg-color-2: hsla(220, 8%, 10%, 0.15);
  --fg-color-0: hsl(220, 8%, 25%);
  --fg-color-5: hsl(220, 8%, 25%);
  --notion-blue_background_co: rgb(29, 40, 46);
  --notion-teal_background_co: rgb(34, 43, 38);
  --notion-yellow_background_co: rgb(57, 46, 30);
  --notion-purple_background_co: rgb(43, 36, 49);
  --notion-pink_background_co: rgb(48, 34, 40);
  --notion-red_background_co: rgb(54, 36, 34);
  --notion-orange_background_co: rgb(56, 40, 30);
  --notion-gray_background_co: rgb(37, 37, 37);
  --notion-brown_background_co: rgb(47, 39, 35);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--notion-font);
  /* Fix overflow caused by table of contents */
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(220, 8%, 8%);
    color: hsl(220, 8%, 100%);
  }
}

/* Align element middle */
.wrapper-middle {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.wrapper-middle__box {
  padding: 1rem;
  text-align: center;
}
.wrapper-middle__box__desc {
  opacity: 0.6;
  word-break: break-all;
}

/* Revalidate button */
.revalidate-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.revalidate-button button {
  appearance: none;
  border: 0;
  background-color: var(--bg-color-0);
  border-radius: 0.35rem;
  color: var(--fg-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
@media (prefers-color-scheme: dark) {
  .revalidate-button button {
    color: hsl(45, 8%, 60%);
  }
}
.revalidate-button button:hover {
  opacity: 0.8;
}
.loading svg {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Fix overflow when code block in toggle */
.notion-toggle {
  width: 100%;
}

/* Align icon left */
.notion-page-icon-hero {
  left: initial;
}
.notion-page-icon-hero.notion-page-icon-span,
.notion-page-icon-hero.notion-page-icon-image {
  margin-left: initial;
}

/* Align TOC heading left */
.notion-aside-table-of-contents {
  align-items: initial;
}

/* Code block bg color */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--bg-color-0);
}

/* Video fit */
.notion-asset-wrapper-video {
  width: 100%;
}
.notion-asset-wrapper-video > div {
  height: inherit !important;
  width: inherit !important;
}

.notion-full-width {
  --notion-max-width: calc(min(1920px, 98vw));
  padding-left: 16px;
  padding-right: 16px;
}

.notion-callout {
  border-radius: 8px;
}

.notion-page-link > .notion-page-title > .notion-page-icon-inline:has(svg) {
  display: none;
}

.notion-page-link > .notion-page-title > .notion-page-title-text {
  border-bottom: 0;
}
