* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--notion-font);
  /* Fix overflow caused by table of contents */
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(220, 8%, 8%);
    color: hsl(220, 8%, 100%);
  }
}

/* Align element middle */
.wrapper-middle {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.wrapper-middle__box {
  text-align: center;
}

/* Revalidate button */
.revalidate-button {
  position: fixed;
  top: 10px;
  right: 10px;
}
.revalidate-button button {
  appearance: none;
  border: 0;
  background-color: var(--bg-color-0);
  border-radius: 0.35rem;
  color: var(--fg-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
@media (prefers-color-scheme: dark) {
  .revalidate-button button {
    color: hsl(45, 8%, 60%);
  }
}
.revalidate-button button:hover {
  opacity: 0.8;
}
.loading svg {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Fix overflow when code block in toggle */
.notion-toggle {
  width: 100%;
}

/* Align icon left */
.notion-page-icon-hero {
  left: initial;
}
.notion-page-icon-hero.notion-page-icon-span,
.notion-page-icon-hero.notion-page-icon-image {
  margin-left: initial;
}

/* Align TOC heading left */
.notion-aside-table-of-contents {
  align-items: initial;
}

/* Code block bg color */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--bg-color-0);
}

/* Video fit */
video {
  width: 100%;
  height: 100%;
}
